<div class="margenes_opciones" style = "margin-top: 20px;">

@for(categoria of categorias; track categoria.catId) {
  <h4>{{categoria.nomCat}}</h4>
}

<!-- 
<h4>Estado programa impresora</h4>

  <button (click)="alternarOpcion('status')" type="button" class="btn btn-primary">Comprobar estado</button>
  @if(optionStates.get('status')) {
    <div style="padding: 10px">
  <app-spinner></app-spinner>
</div>
  <p>{{ messageStatus }}</p>
  }
</div>

<div class="margenes_opciones">
  <h4>Parar la impresión</h4>
  <button (click)="alternarOpcion('stop')"  type="button" class="btn btn-danger">STOP</button>
  @if(optionStates.get('stop')) {
    <div style="padding: 10px">
  <p>{{ messageStop }}</p>
    </div>
  }
</div>
<div  class="margenes_opciones ">
  <h4>Ver mensaje cargado</h4>
  <div class="btn-group dropend">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Color imagen
    </button>
    <ul class="dropdown-menu">
      @for (color of colorTypesArray; track $index) {
      <li>
        <a (click)="visualizeImg(color[1])" class="dropdown-item">{{
          color[0]
        }}</a>
      </li>
      }
      {{
        messageImg
      }}
    </ul>
    <img [src]="img" style="width: 100%; object-fit: cover" />
  </div> 
</div>


<div  class="margenes_opciones">
  <h4>Mostrar variables y valores de mensaje actual</h4>
  <button (click)="alternarOpcion('variables')" type="button" class="btn btn-primary">
    Mostrar variables
  </button>
  <div style="padding: 10px">
  @if(optionStates.get('variables')) { 
    @for(data of dataVariable ; track $index) {
      
  <p>Nombre variable: {{ data.name }}</p>
  <p>Valor de la variable: {{ data.value }}</p>
  }
  <p>{{ mssgVariable }}</p>

  }
</div>
</div>

<div  class="margenes_opciones">
  <h4>Mostrar mensajes guardados en el controlador</h4>
  <button (click)="alternarOpcion('messages')" type="button" class="btn btn-primary">Mostrar mensajes</button>
  @if(optionStates.get('messages')) { @for(message of listMsg ; track message.id) {
    <div style="padding: 10px">
  <p>Número: {{ message.id }}</p>
  <p>Archivo: {{ message.file }}</p>
</div>
  } }
</div>

<div  class="margenes_opciones">
  <h4>Eliminar mensaje del controlador de manera permanente</h4>
  <form>
    <div>
      <label for="fileToDelete">Nombre del archivo*: </label>
      <input
        type="text"
        id="fileToDelete"
        name="name"
        style="margin-left: 10px"
        [(ngModel)]="fileToDelete"
        placeholder="ej: 0001.ltg"
      />
    </div>
    <div> 
      <button (click)="alternarOpcion('delete')"  type="button" class="btn btn-danger">Eliminar archivo</button>
      @if(optionStates.get('delete')) {
        <p>{{ mssgeDelete }}</p>
      }
     
    </div>
  </form>
</div>


<div  class="margenes_opciones">
  <h4>Elija qué mensaje del controlador mostrar</h4>
  <form>
    <div>
      <label for="fileToVisualize">Nombre del archivo: </label>
      <input
        type="text"
        id="fileToVisualize"
        name="fileToVisualize"
        style="margin-left: 10px"
        [(ngModel)]="fileToVisualize"
        placeholder="ej: 0001.ltg"
      />
    </div>
    <div>
      <button (click)="alternarOpcion('visualize')" type="button" class="btn btn-primary">
        Mostrar imagen del controlador
      </button>
      @if(optionStates.get('visualize')) {
        <p>{{ messageImg }}</p>
        <img [src]="img2" style="width: 100%; object-fit: cover" />
      }
    </div>
  </form>
</div>

<div  class="margenes_opciones">
  <h4>Listar imágenes del controlador</h4>
  <button (click)="alternarOpcion('listImg')" type="button" class="btn btn-primary">Listar imágenes</button>
  @if(optionStates.get('listImg')) {
  @for(image of ListOfImg ; track image.id) {
  <p>Número: {{ image.id }}</p>
  <p>Archivo: {{ image.file }}</p>
  }
  <p>{{ msgList }}</p>
}
</div>

<div  class="margenes_opciones">
  <h4>Obtener registros de PLC</h4>
  <form>
    <div>
      <label for="plcNum">Número de PLC: </label>
      <input
        type="number"
        id="plcNum"
        name="name"
        style="margin-left: 10px"
        [(ngModel)]="plcNum"
        placeholder="ej: 1"
      />
    </div>
    <div>
      <button (click)="alternarOpcion('plc')" type="button" class="btn btn-primary">Registros</button>
      @if(optionStates.get('plc')) {
      @for(plcData of plcOk ; track $index) {
      <p>Log: {{ plcData.reg }}</p>
      <p>Valor antiguo: {{ plcData.oldValue }}</p>
      <p>Valor nuevo: {{ plcData.newValue }}</p>
      } @for(plcData of plcNoOk ; track $index) {
      <p>Nombre: {{ plcData.classname }}</p>
      <p>Mensaje: {{ plcData.message }}</p>
      }

      <p>{{ mssgPlc }}</p>
    }
    </div>
  </form>
</div>

<div  class="margenes_opciones">
  <h4>Cambiar anchura de mensaje</h4>
<label for="width">Introduzca el valor de anchura: </label>
<input type="text" id="width" [(ngModel)]="userWidth">
<div>
<button (click)="changeWidthCurrentMsg()" type="button" class="btn btn-primary">Enviar</button>
  <p>{{ msgWidth }}</p>
</div>
</div>

<div  class="margenes_opciones">
  <h4>Editar variables de mensaje actual</h4>
  <form [formGroup]="variableForm" (ngSubmit)="editCurrentVariable()">
    <label for="name">Nombre variable: </label>
    <div>
    <input type="text" formControlName="name">
    </div>
    <div>
    <label for="value">Nuevo valor: </label>
  </div>
  <input type="text" formControlName="value">
<div>
    <button type="submit"  class="btn btn-primary">Editar variable</button>
  </div>
  </form>
  {{msgEdit}}
</div>


<div  class="margenes_opciones">
  <h4>Cargar mensaje nuevo del controlador y editar variables</h4>
  <form [formGroup]="variableForm" (ngSubmit)="chargeNewMsgNewVariables()">
    <label for="file">Mensaje de controlador para imprimir: </label>
    <div>
      <input type="text" formControlName="file">
    </div>

    <label for="copies">Número de copias: </label>
    <div>
      <input type="number" formControlName="copies">
    </div>

    <div formArrayName="vars">
      <div *ngFor="let variable of vars.controls; index as i" [formGroupName]="i">
        <label for="name">Nombre variable: </label>
        <div>
          <input type="text" formControlName="name" placeholder="Opcional">
        </div>
        <div>
          <label for="value">Nuevo valor: </label>
        </div>
        <input type="text" formControlName="value" placeholder="Opcional">
      </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="addVariable()">Añadir más variables</button>

    <button type="submit" class="btn btn-primary">Cargar mensaje nuevo</button>
  </form>
</div>


<div  class="margenes_opciones">
  <h4>Editar valores en los registros de PLC</h4>
  <form [formGroup]="plcRegistersForm" (ngSubmit)="writeValuesListInPlcRegisters()">
    <div formArrayName="listPlcs">
      <div *ngFor="let plcControl of listPlcs.controls; index as i" [formGroupName]="i">
        <label for="reg">Número de registro: </label>
        <div>
          <input type="number" formControlName="reg">
        </div>

        <div formArrayName="values">
          <div *ngFor="let valueControl of getValues(plcControl).controls; index as j" [formGroupName]="j">
            <label for="newValue">Valor: </label>
            <div>
              <input type="number" formControlName="newValue">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary" (click)="addValue(getPlcControlAsFormGroup(plcControl))">Añadir más valores</button>
      </div>
    </div>

    <button class="btn btn-primary"  type="button" (click)="addRegister()">Añadir más registros</button>

    <button type="submit" class="btn btn-primary" >Escribir valores en registros PLC</button>
    {{mssgPlc}}
  </form>-->
</div> 