.navbar{
    background-color: rgb(0, 153, 219);
}

.titulo_nav {
    text-align: center;
}

.titulo_link {
    color: white;
    text-decoration: none; /* Elimina la decoración de subrayado */
}
 .titulo_div {
    top: 0;
    bottom: 0;
    margin: auto;
 }