.navbar {
    background-color: rgb(248, 170, 64);
    display: flex;
    justify-content: space-between; /* Para separar los elementos a los extremos */
    align-items: center; /* Para alinear verticalmente los elementos */
    padding: 10px 20px; /* Ajusta el padding según tu diseño */
    justify-content: center;
  }

  .titulo_div {
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
  }
  
  .titulo_nav {
    display: flex;
    align-items: center; /* Alinea los elementos hijos verticalmente */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    font-family: sans-serif;
    font-size: 350%;
    font-style: italic;
  }
  
  .titulo_link {
    color: black;
    text-decoration: none;
    margin-right: 20px; /* Ajusta el espacio entre el título y el botón */
  }
  
  .Ajustes {
    background-image: url("../../../assets/icons/restoServeIcon.png");
    background-repeat: no-repeat;
    height: 80px; /* Ajusta la altura según tu diseño */
    width: 80px; /* Ajusta el ancho según tu diseño */
    background-size: cover; /* Ajusta el tamaño del icono */
    background-color: transparent;
    border: none;
  }
  
  