<div class="margenes_opciones">
    @if(isLoggedIn) {
        <app-botones></app-botones>
        <div class="usuarios">
        <button (click)="isLoggedIn = false" type="button" class="boton-ingresar">Log out</button>
        </div>
    }@else {
<div class="container-fluid mt-5"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0"
     fxLayoutGap.xs="0">
  <div class="login-card mat-elevation-z8 mb-5" fxFlex="45%">
    <main class="login-content"
          fxLayout="column"
          fxLayoutAlign="center center">
      <span class="login-header mb-5 mt-3">Login</span>
      <!-- login form -->
      <form [formGroup]="form" class="login-form align-items-center" fxLayout="column" (ngSubmit)="login($event)">
        <div class="form-floating mb-3">
            <input matInput type="text" class="form-control" formControlName='nomEmpl' id="nameEmpl">
            <label for="floatingInput">Nombre Staff</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="codeEmpl" formControlName='codigo'>
            <label for="floatingPassword">Password</label>
          </div>
        <button class="boton-ingresar" type="submit" >Ingresar</button>
        <p>{{mssgAuth}}</p>
      </form>
    </main>
  </div>
  <div class="login-card login-content mat-elevation-z8" 
          fxFlex=45%
          fxLayout="column"
          fxLayoutAlign="end start"
          [ngStyle]="unsplashClass()">
      <div class="login-aside-overlay"></div>
      <h1 class="login-welcome-text">¡Bienvenido!</h1>
      <hr class="login-aside-hr">
  </div>
</div>
}
</div>
   

