<div style="padding: 30px">
<form>
    <div>
      <label for="msgNum">Número de mensaje: </label>
      <input
        type="number"
        id="msgNum"
        name="name"
        style="margin-left: 10px"
        [(ngModel)]="msgNum"
        placeholder="ej: 0"
      />
    </div>
    <div>
      <button (click)="insertMsgFifo(msgNum)">Insertar mensaje en fifo</button>
      <p>{{ msgInsert }}</p>
    </div>
  </form>
</div>

<div style="padding: 30px">
  <button (click)="variablesAndValues()">
    Mostrar variables de mensaje actual
  </button>
  @if(show == true) { @for(data of dataVariable ; track $index) {
  <p>Nombre variable: {{ data.name }}</p>
  <p>Valor de la variable: {{ data.value }}</p>

  }
  <p>{{ mssgVariable }}</p>
  }
</div>
