<div class="margenes_opciones">
  
  <p class="titulo">
    Información Pedidos
  </p>
</div>
<table class="tabla">
  <thead>
    <tr>
      <th class="tabla_encabezados">CLIENTE</th>
      <th class="tabla_encabezados">PEDIDO</th>
      <th class="tabla_encabezados">PRECIO</th>
      <th class="tabla_encabezados">FECHA</th>
    </tr>
  </thead>
  <tbody>
    @for (pedido of pedidos ; track pedido.ordenId) {
    <tr>
      <td>
        <ul>
          <li>{{ pedido.cliente.nom_cli }}</li>
          <li>{{ pedido.cliente.telf }}</li>
        </ul>
      </td>
      <td>
        <ul>
          @for (detalle of pedido.detallesOrden; track detalle.detalleId) {
          <li>{{ detalle.producto.nomProd}}</li>
          }
        </ul>
      </td>
      <td>{{pedido.precioTotal}}</td>
      <td>{{ dateFormatter(pedido.fechaorden) }}</td>
    </tr>
    }
  </tbody>
</table>
