<h1 class="text-center">PEDIDOS</h1>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      CLIENTE
    </div>
    <div class="col">
      PEDIDO
    </div>
    <div class="col">
      FECHA
    </div>
  </div>

  @for(pedido of pedidos ; track pedido.ordenId) {
    <div class="col">
      {{pedido.cliente.telf}}
    </div>
    <div class="col">
      {{pedido.ordenId}}
    </div>
    <div class="col">
      {{dateFormatter(pedido.fechaorden)}}
    </div>
}
  </div>

