<table class="table table-dark table-striped margen">
  <thead>
    <tr>
      <th class="tabla_encabezados">CLIENTE</th>
      <th class="tabla_encabezados">PEDIDO</th>
      <th class="tabla_encabezados">PRECIO</th>
      <th class="tabla_encabezados">FECHA</th>
      <th class="tabla_encabezados">ACCIONES</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (pedido of pedidos ; track pedido.ordenId) {
    <tr>
      <td>
        <ul>
          <li>{{ pedido.cliente.nom_cli }}</li>
          <li>{{ pedido.cliente.telf }}</li>
        </ul>
      </td>
      <td>
        <ul>
          @for (detalle of pedido.detallesOrden; track detalle.detalleId) {
          <li>{{ detalle.producto.nomProd}}</li>
          }
        </ul>
      </td>
      <td>{{pedido.precioTotal}}</td>
      <td>{{ dateFormatter(pedido.fechaorden) }}</td>
      <td>
        <div style="margin-bottom: 5px;">
        <button (click)="deleteOrder(pedido.ordenId)" class="btn btn-warning">Cancelar pedido</button>
      </div>
      <div>
        <button (click)="deleteOrder(pedido.ordenId)" class="btn btn-warning">Entregado</button></div>
      </td>
    </tr>
    }
  </tbody>
</table>
