.margenes_opciones {
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
}
    .btn-primary {
        margin-top: 10px;
        margin-right: 10px;
    }
 .btn-danger {
    margin-top: 10px;
 }
 body {
    margin-bottom: 40px;
    background-color: #fff8ec;
 }

 
    .border-primary {
        border-color: black;
    }
.margenes {
    margin-left: 50px;
    margin-right: 50px;
}
    
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
