.margenes_opciones {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 40px;
    position: relative;
}

.margen {
    padding: auto;
}
    .btn-primary {
        margin-top: 10px;
        margin-right: 10px;
    }
 .btn-danger {
    margin-top: 10px;
 }
 body {
    margin-bottom: 40px;
    background-color: #fff8ec;
 }

 
    .border-primary {
        border-color: black;
    }
.margenes {
    margin-left: 50px;
    margin-right: 50px;
}
    
.boton-grande {
    
    font-size: 30px; /* Ajusta el tamaño del texto */
    padding: 40px 60px; /* Ajusta el tamaño del botón, puedes modificar los valores para que se vea como deseas */
    margin: 15px; /* Espacio alrededor de cada botón */
}

/* Clase para agregar un margen entre los botones */
.boton-separado {
    
    align-items: center; /* Centra los botones verticalmente */
    margin-right: 30px; /* Espaciado a la derecha de 30px */
    margin-top: 40px;
    top: 50%;
    left: 50%;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.titulo {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .tabla{
      width: 100%;
      border-collapse: separate;
      margin-top: 20px;
      border: black 1px solid;
      border-collapse: collapse;
  }
  
  .tabla_encabezados {
      background-color: rgb(248, 170, 64);
      border: white 3px solid;
      font-size: 20px;
      padding: 35px;
      color: white;
      text-align: center;
  }
  td {
      border: white 3px solid;
      padding: 10px;
      text-align: center;
      color: black;
      background-color: #fff8ec;
  }
  